* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.global-container {
    border: 2px solid blue;
    border-radius: 10px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100vh;
 
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.h1-header-functionality {
    border: 4px solid blue;
    border-radius: 4px;
    background-color: royalblue;
    color: white;
    font-family: inherit;
    font-size: 2.2rem;
    text-align: center;
    padding: 10px;
    margin: 0;
    position: relative;
    bottom: 16px;
    margin: 1%;
   
}
.container-box {
    display: flex;
    flex-direction: row;
    height: 14vh;
}
#box {
    border: 10px solid blue;
    background-color: white;
    border-radius: 8px;
    color: blue;
    font-family: italic;
    font-size: 1rem;
    text-align: center;
    padding: 28px;
    margin-top: 4px;
 
    margin-bottom: 0;
    width: 220px;
    height: 100px;
    
    opacity: 1;
    transition: opacity 520ms cubic-bezier(0.1, 0.7, 1.0, 0.3);
}
#box:hover {
    opacity: 0;
    border: 10px solid blue;
    background-color: white;
    border-radius: 8px;
    color: blue;
    font-family: italic;
    font-size: 1rem;
    text-align: center;
    padding: 28px;
    margin-top: 4px;
 
    margin-bottom: 0;
    width: 220px;
    height: 100px;
    
}
/*RESET BUTTONS*/
.btn-reset-body {
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.80rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: 0;
    margin-bottom: px;
    right: 200px;
   
}
.btn-reset-body:hover {
    border-radius:8px;
    border:2px solid black;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.80rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    background-color: white;
    color: black;
    margin-right: 0;
    margin-bottom: 0;
  
}
.btn-reset-window {
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.80rem;
    font-family: apple chancery;
    text-align: center;
    width: 170px;
    height: 70px;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0;
   
}
.btn-reset-window:hover {
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.80rem;
    font-family: italic;
    text-align: center;
    width: 170px;
    height: 70px;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0; position: relative;
    bottom: 50px;
}
.btn-reset-h1Color {
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.80rem;
    font-family: apple chancery;
    text-align: center;
    width: 170px;
    height: 70px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 0;
    position: relative;
    left: 200px;
    bottom: 129.9px;
}
.btn-reset-h1Color:hover {
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 800;
    font-family: italic;
    text-align: center;
    width: 170px;
    height: 70px;
    background-color: white;
    color: black;
    margin-left: 0;
    position: relative;
    left: 200px;
    bottom: 129.9px;
}
#box1 {
    display: flex;
    flex-direction: row;
    height: 14vh;
   font-size: 1rem;
   font-family: apple chancery;
   text-align: center;
}
.btn {
    margin: 3%;
}
/*WINDOW BROWSER CHANGE COLOR*/
.btnRED {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    color: red;
    position: relative;
    top: 75px;
}
.btnRED:hover {
    border-radius: 12px;
    border: 2px solid red;
    background-color: white;
    color: red;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    position: relative;
    top: 75px;
}
.btnLIME {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    color: lime;
    position: relative;
    top: 75px;
}
.btnLIME:hover {
    border-radius: 12px;
    border: 2px solid lime;
    background-color: white;
    color: green;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    position: relative;
    top: 75px;
}
.btnVIOLET {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    color: violet;
    position: relative;
    top: 75px;
}
.btnVIOLET:hover {
     border-radius: 12px;
    border: 2px solid violet;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    background-color: white;
    color: purple;
    position: relative;
    top: 75px;
}
.btnYELLOW {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    color: yellow;
    position: relative;
    top: 75px;
}
.btnYELLOW:hover {
    border-radius: 12px;
    border: 2px solid yellow;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    background-color: white;
    color: orange;
    position: relative;
    top: 75px;
}
/*CHANGE TEST WINDOW BACK GROUND COLOR*/
#box3 {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    align-content: center;
}
.btnFontCanary1 {
    border-radius: 10px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: darkslategrey;
    color: yellow;
    position: relative;
    top: 40px;
}
.btnFontCanary1:hover {
    border-radius: 10px;
    border: 2px solid yellow;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: orange;
    position: relative;
    top: 40px;
}
.btnFontPink2 {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: darkslategrey;
    color: hotpink;
    position: relative;
    top: 40px;
}
.btnFontPink2:hover {
    border-radius: 12px;
    border: 2px solid pink;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: hotpink;
    position: relative;
    top: 40px;
}
.btnFontLime {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: darkslategrey;
    color: lime;
    position: relative;
    top: 40px;
}
.btnFontLime:hover {
    border-radius: 12px;
    border: 2px solid lime;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: green;
    position: relative;
    top: 40px;
}
.btnFontOrange {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: darkslategrey;
    color: orange;
    position: relative;
    top: 40px;
}
.btnFontOrange:hover {
      border-radius: 12px;
    border: 2px solid orange;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: orangered;
    position: relative;
    top: 40px;
}
/*part-3 CHANGING HEADER FONT COLOR*/
.reset-headerH1 {
    padding: 10px;
    font-family: italic;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    padding: 10px;
    margin: 6px;
}
.btnHeaderRED {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: darkslategrey;
    color: red;
}
.btnHeaderRED:hover {
    border-radius: 12px;
    border: 2px solid red;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: crimson;
}
.btnHeaderGREEN {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: darkslategrey;
    color: lime;
}
.btnHeaderGREEN:hover {
       border-radius: 12px;
    border: 2px solid lime;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: green;
}
.btnHeaderORANGE {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: darkslategrey;
    color: orange;
}
.btnHeaderORANGE:hover {
    border-radius: 12px;
    border: 2px solid orange;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: orangered;
}
.btnHeaderGOLD {
    border-radius: 12px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: apple chancery;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: darkslategrey;
    color: yellow;
}
.btnHeaderGOLD:hover {
    border-radius: 12px;
    border: 2px solid gold;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.70rem;
    font-family: italic;
    width: 170px;
    height: 70px;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: goldenrod;
}

